.card-header {
	cursor: pointer;
	color: #FFFFFF;
	background: #169DB2;
}

.nav_link:hover {
	color: #FFFFFF;
	background: #41484E;
}

div.nav_link {
	padding: 1rem;
	margin-top: -1.5rem;
}

.card-header:hover {
	cursor: pointer;
	color: #FFFFFF;
	background: #027484;
}
