body {
  background-color: #f8f9fa;
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 70%;
  }
}

/* Sidebar */
.hidden {
  position: fixed;
  left: -250px;
  transition: all 0.3s;
  z-index: 999;
}

.visible {
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
}

/* Cards/Categories */
.hide {
  transform: scale(1, 0);
  transition: transform 0.4s;
  position: absolute;
  top: -100%;
}

.active {
  transform: scale(1);
  transition: transform 0.4s;
}
