.createPage {
  max-width: 100%;
  border-color: #D73F09 !important;
  color: #D73F09;
}

.create-page-icon {
  color: #D73F09 !important;
}

 .createPage:hover.btn {
  background-color: #D73F09 !important;
}

.hidden {
  position: fixed;
  left: -250px;
  transition: all 0.3s;
  z-index: 999;
}

.visible {
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
}