/* Red */
.fa-flag, .fa-fire {
  color: #E81224 !important;
}

/* YellowGold */
.fa-hand-point-right, .fa-trophy, .fa-bolt {
  color: #FFC83D !important;
}

/* Blue */
.fa-thumbs-up, .fa-file {
  color: #007BFF !important;
}

/* LightGreen */
.fa-chart-area{
    color: #32C332 !important;
}

.fa-plus {
}

.opportunity-desc {
  display: block;
  margin-left: -0.30rem;
  font-size: .9rem;
  font-style: italic;
}
