.last-accessed-link {
  color: #28a428 !important;
}

.last-accessed-link-bad {
  color: #E81224 !important;
}

.osu-link, .osu-link:visited {
  color: #ff9100 !important;
}

.osu-link:hover, .osu-link:active {
  color: #b36600 !important;
}

.icon-td, .content-td {
  vertical-align: middle !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.opportunity-desc {
  display: block;
  margin-left: 0.30em;
}

.icon-item {
  margin-top: 0.1em !important;
}

.icon-item-text.check-square-icon {
  font-weight: bold;
  font-size: large;
}

.icon-item.check-square-icon {
  margin-top: 0.3em !important;
}

.icon-item.fa-circle {
  font-size: .50em;
  margin-left: 0.9em;
  padding-right: 0.4em;
  margin-right: 1.45em !important;
  margin-top: 0.9em !important;
}

.indent-level-1 {
  margin-left: 1.5em;
}

.indent-level-2 {
  margin-left: 3em;
}

.indent-level-3 {
  margin-left: 4.5em;
}

.indent-level-4 {
  margin-left: 6em;
}

.indent-level-1.icon-item.fa-circle {
  margin-left: 3.7em;
}

.indent-level-2.icon-item.fa-circle {
  margin-left: 6.8em;/*3.9em;*/
}

.indent-level-3.icon-item.fa-circle {
  margin-left: 9.8em;/*5.4em;*/
}

.indent-level-4.icon-item.fa-circle {
  margin-left: 12.7em;/*6.9em;*/
}