.fa-flag, .fa-fire, .fa-book {
  color: #E81224 !important;
}

.fa-hand-point-right, .fa-trophy, .fa-bolt {
  color: #FFC83D !important;
}

.fa-thumbs-up, .fa-file, .fa-video-camera {
  color: #007BFF !important;
}

.fa-chart-area, .fa-play {
  color: #32C332 !important;
}

.last-accessed-link {
  color: #28a428 !important;
}

.last-accessed-link-bad {
  color: #E81224 !important;
}

.osu-link, .osu-link:visited {
  color: #ff9100 !important;
}

.osu-link:hover, .osu-link:active {
  color: #b36600 !important;
}

.icon-td, .content-td {
  vertical-align: top !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.opportunity-desc {
  display: block;
  margin-left: 0.30rem;
}

.icon-item-text.check-square-icon {
  font-weight: bold;
  font-size: large;
}

.icon-item.check-square-icon {
  margin-top: 0.33em;
}
