.fa-disabled {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

i[title] {
  display: block;
  color: black;
  animation: fadeIn 2s;
}

.filter-btn {
  height: 1.75em;
}

.fltr-expand-btn {
  border-color: rgba(223, 223, 233, 1);
  border-radius: 0.25em 0 0 0.25em !important;
}

.fltr-closed-btn {
  border-radius: 0.25em 0.25em 0.25em 0.25em !important;
}

.fltr-expand {
  border-radius: 0 0.25em 0.25em 0 !important;
  overflow-x: hidden;
  max-width: 0;
  /* transition: max-width 2s; */
}

.fltr-expand.fltr-show {
  max-width: 1000px;
}

.fltr-expand.fltr-hide {
  display: none;
}