.fa-disabled {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

i[title] {
  display: block;
  color: black;
  animation: fadeIn 2s;
}