.page-approved.header-bar {
  background: rgb(214,214,214);
  background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
}

.page-review {
  background-color: #fcf7db;
}

.page-review.header-bar {
  background: rgb(244,232,171);
  background: linear-gradient(0deg, rgba(244,232,171,1) 0%, rgba(254,247,213,1) 100%);
}

.page-internal.page-approved {
  background: repeating-linear-gradient(
    45deg,
    #f8f9fa,
    #f8f9fa 80px,
    #f0f1f2 80px,
    #f0f1f2 160px
  );
}

.page-internal.page-review {
  background: repeating-linear-gradient(
    45deg,
    #fcf7db,
    #fcf7db 80px,
    #f4efd3 80px,
    #f4efd3 160px
  );
}

.page-internal.page-approved.header-bar {
  background: rgb(214,214,214);
  background-image: linear-gradient(0deg, rgba(50,50,50,0.2) 0%, rgba(255,255,255,0.2) 100%),
  repeating-linear-gradient(
    45deg,
    #f8f9fa,
    #f8f9fa 80px,
    #f0f1f2 80px,
    #f0f1f2 160px
  );
}

.page-internal.page-review.header-bar {
  background: rgb(244,232,171);
  background: linear-gradient(0deg, rgba(187, 178, 130, 0.2) 0%, rgba(254,247,213,0.2) 100%),
  repeating-linear-gradient(
    45deg,
    #fcf7db,
    #fcf7db 80px,
    #f4efd3 80px,
    #f4efd3 160px
  );
}

.allow-newlines {
  white-space: pre-wrap;
}