.page-approved.header-bar {
  background: rgb(214,214,214);
  background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
}

.page-review {
  background-color: #fcf7db;
}

.page-review.header-bar {
  background: rgb(244,232,171);
  background: linear-gradient(0deg, rgba(244,232,171,1) 0%, rgba(254,247,213,1) 100%);
}
