.nav-hamburger {
  width: 3.5em !important;
  height: 3.5em !important;
}

.nav-hamburger-icon {
  color: #d73f09;
}

.nav-header-top {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: "Times New Roman", Times, serif;
}

.nav-header-bottom {
  margin: 0;
  font-weight: bold;
  color: #d73f09;
}

.osu-logo {
  height: 4em;
  background-color: var(--dark);
  border: 0px;
}