#magnify-search-button, #magnify-search-button:hover,
#magnify-search-button:active, #magnify-search-button:target {
  border-style: none !important;
  border-color: var(--dark) !important;
  background-color: var(--dark) !important;
  outline: none !important;
  box-shadow: none;
}