.very-small-text-editor-input .simple-text-border {
  border: 1px solid #ced4da;
  min-height: 75px;
}

.simple-text-border {
  border: 1px solid #ced4da;
}

.ql-editor {
  white-space: break-spaces;
}

.text-editor.hide-toolbar .ql-toolbar.ql-snow {
  display: none;
}

.text-editor.hide-toolbar .ql-container.ql-snow {
  border: none;
}
