body{
    background-color: #f8f9fa;
}

@media (min-width: 1200px) {
    .container{
        max-width: 70%;
    }
}

/* Sidebar */
.hidden {
	position: fixed;
	left: -250px;
    transition: all 0.3s;
    z-index: 999;
}

.visible {
    position: fixed;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

.hide { 
    transform: scale(1,0);
    transition: transform .4s cubic-bezier(.5,0,.3,1);
}

.hideDelay {
    margin-top: -150px;
}

.active {
    transform: scale(1);
    transition: transform .4s cubic-bezier(.5,0,.3,1);

}